
section{
    width: 550px;
    border : 3px double #123456;
    margin: 100px ;
}
section.title{
    background : #abcdef;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    padding: 3px;
    letter-spacing: 10px;
}
section .contetnt{
    padding: 10px;
}
section.contetnt:last-child{
    border-top: 3px dotted #123456;
}
section.content h2{
    font-size: 1.2em;
    font-weight: bold;
}
section.content p{
    font-size: 0.8em;
    margin-top: 10px;
}

